name: deployUib
on:
  workflow_call:
    inputs:
      bonita_dns_name:
        required: true
        type: string
        description: "target serveur, e.g. ec2-3-255-139-245.eu-west-1.compute.amazonaws.com"
      zip_to_deploy:
        required: true
        type: string
        description: "zip file path in workspace, e.g. /home/runner/work/presales_workflows/presales_workflows/temp_ui_builder/uib_applications.zip"

jobs:
  deploy_UIB:
    runs-on: ubuntu-latest
    env:
      COOKIES:
    steps:
      - name: login
        id: loginBonita
        uses: fjogeleit/http-request-action@v1.16.4
        with:
          url: "http://${{ inputs.bonita_dns_name }}/bonita/loginservice"
          method: 'POST'
          customHeaders: '{"Content-Type": "application/x-www-form-urlencoded"}'
          data: 'username=install&password=install&redirect=false&redirectURL='

      - name: setup cookies from login Response
        run: |
          echo ${{ steps.loginBonita.outputs.response }}
          echo ${{ steps.loginBonita.outputs.headers }}
          echo ${{ steps.loginBonita.outputs.status }}
          
          cookie=$(echo '${{ steps.loginBonita.outputs.headers }}' \
          | jq -r '."set-cookie"[]' \
          | cut -d';' -f1 \
          | tr '\n' '\r' \
          | sed 's/\r/; /g' \
          | sed 's/; $//')
          echo "*** ${cookie} ***"
          
          echo "COOKIES=$cookie" >> $GITHUB_ENV

      - name: cleanup
        id: cleanup
        uses: fjogeleit/http-request-action@v1.16.4
        with:
          url: "http://${{ inputs.bonita_dns_name }}/uib/api/v1/applications/all"
          method: 'DELETE'
          customHeaders: '{"x-requested-by": "Appsmith", "Cookie":"${{ env.COOKIES }}"}'

      - name: deploy-zip
        id: deploy
        uses: fjogeleit/http-request-action@v1.16.4
        with:
          url: "http://${{ inputs.bonita_dns_name }}/uib/api/v1/applications/import-bulk"
          method: 'POST'
          customHeaders: '{"Content-Type": " multipart/form-data","x-requested-by": "Appsmith", "Cookie":"${{ env.COOKIES }}"}'
          files: '{ "file": "${{ inputs.zip_to_deploy }}" }'

      - name: Show deploy Response
        run: |
          echo ${{ steps.deploy.outputs.response }}
          echo ${{ steps.deploy.outputs.headers }}
          echo ${{ steps.deploy.outputs.status }}
