name: displayLogs
on:
  workflow_call:
    inputs:
      bonita_dns_name:
        required: true
        type: string
        description: "target server, e.g. ec2-3-255-139-245.eu-west-1.compute.amazonaws.com"
      bonita_service:
        required: true
        type: string
        description: "docker comper service that we want to get logs. could be for example bonita, bonita, bonita-ui,bonita-ui-proxy"

jobs:
  display_bonitab_logs:
    runs-on: ubuntu-latest
    steps:
      - name: Setup SSH private key
        env:
          PRIVATE_KEY: ${{ secrets.AWS_PRIVATE_KEY }}
        run: |
          echo "$PRIVATE_KEY" > private_key && chmod 600 private_key

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_ACCESS_KEY }}
          aws-region: eu-west-1

      - uses: passeidireto/aws-add-ip-to-security-group-action@v1.0.0
        with:
          aws_security_group_ids: ${{ secrets.AWS_SECURITY_GROUP_ID }}
          port_range: '22'

      - name: Display docker ps
        if: always()
        run: |
          ssh -o StrictHostKeyChecking=no -i private_key ${{ secrets.AWS_SSH_USER }}@${{ inputs.bonita_dns_name}} << EOF
              sudo docker ps
          EOF

      - name: "Get docker logs for ${{ inputs.bonita_service }}"
        if: always()
        run: |
          ssh -o StrictHostKeyChecking=no -i private_key ${{ secrets.AWS_SSH_USER }}@${{ inputs.bonita_dns_name}} << EOF
              sudo docker logs ${{ inputs.bonita_service }} > /home/${{ secrets.AWS_SSH_USER }}/${{ inputs.bonita_service }}.log
              ls -ltr ${{ inputs.bonita_service }}.log
          EOF
          scp -o StrictHostKeyChecking=no -i private_key ${{ secrets.AWS_SSH_USER }}@${{ inputs.bonita_dns_name }}:/home/${{ secrets.AWS_SSH_USER }}/${{ inputs.bonita_service }}.log ${{ github.workspace }}/${{ inputs.bonita_service }}.log

      - name: "Archive artifact ${{ inputs.bonita_service }} log file"
        uses: actions/upload-artifact@v4
        with:
          name: "${{ inputs.bonita_service }}.log"
          path: "${{ github.workspace }}/${{ inputs.bonita_service }}.log"


          
