name: createServer
on:
  workflow_call:
    inputs:
      instance_type:
        description: 'EC2 instance type'
        type: string
        required: false
        default: 't3.large'
      disk_size:
        description: 'Disk size in GB'
        type: string
        required: false
        default: '20'
      ami_id:
        description: 'AMI ID (Ubuntu Server 2024.04 LTS x86)'
        type: string
        required: false
        default: 'ami-0776c814353b4814d'
      aws_region:
        description: 'AWS region'
        type: string
        required: false
        default: 'eu-west-1'
      key_name:
        description: 'AWS key pair name'
        type: string
        required: false
        default: 'presale-ci-eu-west-1'
      security_group:
        description: 'AWS security group name'
        type: string
        required: false
        default: 'bonitasoft_presales'
      bonita_aws_version:
        description: 'Version of bonita-aws library'
        type: string
        required: false
        default: '1.8'
    secrets:
      JFROG_USER:
        required: true
      JFROG_TOKEN:
        required: true
      GHP_USER:
        required: true
      GHP_TOKEN:
        required: true
      AWS_KEY_ID:
        required: true
      AWS_ACCESS_KEY:
        required: true
      AWS_SECURITY_GROUP_ID:
        required: true
      AWS_PRIVATE_KEY:
        required: true
      AWS_SSH_USER:
        required: true
  workflow_dispatch:

env:
  AWS_PUBLIC_DNS_HOSTNAME:

jobs:
  create_server:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: Setup maven private repositories
        uses: whelk-io/maven-settings-xml-action@v22
        with:
          repositories: >
            [
              {
                "id": "bar",
                "name": "Bonita Artifact Repository",
                "url": "https://bonitasoft.jfrog.io/artifactory/releases",
                "releases": {
                  "enabled": "true"
                },
                "snapshots": {
                  "enabled": "false"
                }
              },
              {
                "id": "github-presales",
                "name": "github-presales",
                "url": "https://maven.pkg.github.com/bonitasoft-presales/*",
                "releases": {
                  "enabled": "true"
                },
                "snapshots": {
                  "enabled": "true"
                }
              },
              {
                "id": "github-laurent",
                "name": "github-presales",
                "url": "https://maven.pkg.github.com/laurentleseigneur/*",
                "releases": {
                 "enabled": "true"
                },
                "snapshots": {
                 "enabled": "true"
                }
              }
            ]
          plugin_repositories: >
            [
              {
                "id": "bar",
                "name": "Bonita Artifact Repository",
                "url": "https://bonitasoft.jfrog.io/artifactory/releases",
                "releases": {
                  "enabled": "true"
                },
                "snapshots": {
                  "enabled": "false"
                }
              }
            ]
          servers: >
            [
              {
                "id": "bar",
                "username": "${{ secrets.JFROG_USER }}",
                "password": "${{ secrets.JFROG_TOKEN }}"
              },
              {
                "id": "github-presales",
                "username": "${{ secrets.GHP_USER }}",
                "password": "${{ secrets.GHP_TOKEN }}"
              },
              {
                "id": "github-laurent",
                "username": "${{ secrets.GHP_USER }}",
                "password": "${{ secrets.GHP_TOKEN }}"
              }
            ]

      - name: Create AWS config credential folder
        run: |
          mkdir -p /home/runner/.aws
          ls -ltr /home/runner/.aws

      - name: Create AWS config region file
        uses: 1arp/create-a-file-action@0.4.5
        with:
          path: '/home/runner/.aws'
          isAbsolutePath: true
          file: 'config'
          content: |
            [default]
            region = ${{ inputs.aws_region }}

      - name: Create AWS config credential file
        uses: 1arp/create-a-file-action@0.4.5
        with:
          path: '/home/runner/.aws'
          isAbsolutePath: true
          file: 'credentials'
          content: |
            [default]
            aws_access_key_id = ${{ secrets.AWS_KEY_ID }}
            aws_secret_access_key = ${{ secrets.AWS_ACCESS_KEY }}
            region = ${{ inputs.aws_region }}

      - name: Set AWS stack ID
        id: aws_stack_id
        run: |
          REPO_NAME="${GITHUB_REPOSITORY#*/}"
          modifiedRepo=$(echo ${REPO_NAME} | sed 's/\//-/g')
          modifiedBranch=$(echo ${{ github.ref_name }} | sed 's/\//-/g')
          stackId="${modifiedRepo}_${modifiedBranch}"
          echo "stackId: ${stackId}"
          echo "stackId=${stackId}" >> $GITHUB_OUTPUT
        env:
          GITHUB_REPOSITORY: ${{ github.repository }}

      - name: Create AWS server
        run: |
          # get aws presales lib
          ./mvnw --batch-mode --no-transfer-progress dependency:copy -Dartifact=com.bonitasoft.presales.aws:bonita-aws:${{ inputs.bonita_aws_version }}:jar:jar-with-dependencies -DoutputDirectory=.
          # create server
          java -jar bonita-aws-${{ inputs.bonita_aws_version }}-jar-with-dependencies.jar \
          -c create \
          --stack-id ${{ steps.aws_stack_id.outputs.stackId }} \
          --name ${{ steps.aws_stack_id.outputs.stackId }} \
          --key-name ${{ inputs.key_name }} \
          --security-group ${{ inputs.security_group }} \
          --ami-id ${{ inputs.ami_id }} \
          --instance-type=${{ inputs.instance_type }} \
          --disk-size ${{ inputs.disk_size }}

      - name: Copy aws yaml file
        run: |
          ls -ltr ${{ github.workspace }}/${{ steps.aws_stack_id.outputs.stackId }}.yaml
          cp ${{ github.workspace }}/${{ steps.aws_stack_id.outputs.stackId }}.yaml ${{ github.workspace }}/aws_instance.yaml
          ls -ltr ${{ github.workspace }}/aws_instance.yaml

      - name: Archive artifact instance.yaml file
        uses: actions/upload-artifact@v4
        with:
          name: aws_instance
          path: ${{ github.workspace }}/aws_instance.yaml

      - name: read-yaml-file
        uses: pietrobolcato/action-read-yaml@1.1.0
        id: read-yaml
        with:
          config: ${{ github.workspace }}/aws_instance.yaml

      - name: set AWS_PUBLIC_DNS_HOSTNAME env variable
        id: set-env-variable
        run: |
          echo "AWS_PUBLIC_DNS_HOSTNAME=${{ steps.read-yaml.outputs['publicDnsName'] }}" >> $GITHUB_ENV 

      - name: display AWS_PUBLIC_DNS_HOSTNAME env variable
        id: display-env-variable
        run: |
          echo "set AWS_PUBLIC_DNS_HOSTNAME to [${AWS_PUBLIC_DNS_HOSTNAME}]" 

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_ACCESS_KEY }}
          aws-region: ${{ inputs.aws_region }}

      - uses: passeidireto/aws-add-ip-to-security-group-action@v1.0.0
        with:
          aws_security_group_ids: ${{ secrets.AWS_SECURITY_GROUP_ID }}
          port_range: '22'

      - name: setup SSH private key
        env:
          PRIVATE_KEY: ${{ secrets.AWS_PRIVATE_KEY }}
        run: |
          echo "$PRIVATE_KEY" > private_key && chmod 600 private_key

      - name: install Docker
        run: |
          ssh -o StrictHostKeyChecking=no -i private_key ${{ secrets.AWS_SSH_USER }}@${AWS_PUBLIC_DNS_HOSTNAME} '
              sudo apt-get update
              sudo apt-get install docker.io -y
              sudo systemctl enable docker
              sudo docker --version
          '

      - name: Add user to docker group
        run: |
          ssh -o StrictHostKeyChecking=no -i private_key ${{ secrets.AWS_SSH_USER }}@${AWS_PUBLIC_DNS_HOSTNAME} \
              "sudo usermod -aG docker ${{ secrets.AWS_SSH_USER }}"

      - name: install Docker Compose
        run: |
          ssh -o StrictHostKeyChecking=no -i private_key ${{ secrets.AWS_SSH_USER }}@${AWS_PUBLIC_DNS_HOSTNAME} '
              sudo apt-get update
              sudo apt-get install ca-certificates curl -y
              sudo install -m 0755 -d /etc/apt/keyrings
              sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
              sudo chmod a+r /etc/apt/keyrings/docker.asc
              echo \
              "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu \
              $(. /etc/os-release && echo "$VERSION_CODENAME") stable" | \
              sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
              sudo apt-get update
              sudo apt-get install docker-compose-plugin -y
              sudo docker compose version
          '
