name: buildSca
on:
  workflow_call:
jobs:
  build_SCA:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: Setup maven private repositories
        uses: whelk-io/maven-settings-xml-action@v22
        with:
          repositories: >
            [
              {
                "id": "bar",
                "name": "Bonita Artifact Repository",
                "url": "https://bonitasoft.jfrog.io/artifactory/releases",
                "releases": {
                  "enabled": "true"
                },
                "snapshots": {
                  "enabled": "false"
                }
              },
              {
                "id": "github-presales",
                "name": "github-presales",
                "url": "https://maven.pkg.github.com/bonitasoft-presales/*",
                "releases": {
                  "enabled": "true"
                },
                "snapshots": {
                  "enabled": "true"
                }
              },
              {
                "id": "github-laurent",
                "name": "github-presales",
                "url": "https://maven.pkg.github.com/laurentleseigneur/*",
                "releases": {
                 "enabled": "true"
                },
                "snapshots": {
                 "enabled": "true"
                }
              }
            ]
          plugin_repositories: >
            [
              {
                "id": "bar",
                "name": "Bonita Artifact Repository",
                "url": "https://bonitasoft.jfrog.io/artifactory/releases",
                "releases": {
                  "enabled": "true"
                },
                "snapshots": {
                  "enabled": "false"
                }
              }
            ]
          servers: >
            [
              {
                "id": "bar",
                "username": "${{ secrets.JFROG_USER }}",
                "password": "${{ secrets.JFROG_TOKEN }}"
              },
              {
                "id": "github-presales",
                "username": "${{ secrets.GHP_USER }}",
                "password": "${{ secrets.GHP_TOKEN }}"
              },
              {
                "id": "github-laurent",
                "username": "${{ secrets.GHP_USER }}",
                "password": "${{ secrets.GHP_TOKEN }}"
              }
            ]

      - name: Login to Jfrog
        run: docker login https://bonitasoft.jfrog.io -u ${{ secrets.JFROG_USER }} -p ${{ secrets.JFROG_TOKEN }}

      # comes from create server
      - name: Download artifact instance.yaml file
        uses: actions/download-artifact@v4
        with:
          name: aws_instance

      - name: read-yaml-file
        uses: pietrobolcato/action-read-yaml@1.1.0
        id: read-yaml-file
        with:
          config: ${{ github.workspace }}/aws_instance.yaml

      - name: set AWS_PUBLIC_DNS_HOSTNAME env variable
        id: set-env-variable
        run: |
          echo "AWS_PUBLIC_DNS_HOSTNAME=${{ steps.read-yaml-file.outputs['publicDnsName'] }}" >> $GITHUB_ENV 

      - name: display AWS_PUBLIC_DNS_HOSTNAME env variable
        id: display-env-variable
        run: |
          echo "AWS_PUBLIC_DNS_HOSTNAME: [${AWS_PUBLIC_DNS_HOSTNAME}]" 

      - name: Build Docker SCA image
        # docker.baseImageRepository isrequired when using bonitasoft tokens instead of customer tokens
        run: |
          ./mvnw --batch-mode --no-transfer-progress	 bonita-project:install
          ./mvnw --batch-mode --no-transfer-progress	 clean package \
          -Pdocker \
          -Dbonita.environment=presales \
          -Ddocker.baseImageRepository=bonitasoft.jfrog.io/docker-releases/bonita-subscription \
          -Ddocker.imageName=bonita_sca:1.0

      - name: Logout from Jfrog
        run: docker logout https://bonitasoft.jfrog.io

      - name: Log docker image build
        run: |
          docker images bonita_sca
          docker save --output bonita_sca.tar bonita_sca:1.0
          ls -ltr bonita_sca.tar

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_ACCESS_KEY }}
          aws-region: eu-west-1

      - uses: passeidireto/aws-add-ip-to-security-group-action@v1.0.0
        with:
          aws_security_group_ids: ${{ secrets.AWS_SECURITY_GROUP_ID }}
          port_range: '22'

      - name: Setup SSH private key
        env:
          PRIVATE_KEY: ${{ secrets.AWS_PRIVATE_KEY }}
        run: |
          echo "$PRIVATE_KEY" > private_key && chmod 600 private_key

      - name: Debug Transfer Data
        run: |
          echo "Listing files with pwd:"
          pwd
          echo "Listing files in current directory before scp:"
          ls -latr
          echo "Listing files in current directory infrastructure/sca:"
          ls -latr infrastructure/sca
          echo "End of file listing."
          

      - name: Transfer Docker Data - Step 1 - Listing files in remote directory sca
        run: |
          echo "Listing files in remote directory sca:"
          ssh -o StrictHostKeyChecking=no -i private_key ${{ secrets.AWS_SSH_USER }}@${AWS_PUBLIC_DNS_HOSTNAME} '
              sudo rm -rf ~/sca
              sudo mkdir -p ~/sca
              ls -latr
              sudo chown -R ubuntu:ubuntu ~/sca
          '
          echo "Listing files in current directory infrastructure/sca:"
          ls -latr infrastructure/sca

      - name: Transfer Docker Data - Step 2 - Move bonita_sca.tar in ~/ 
        run: |
          
          scp -o StrictHostKeyChecking=no -i private_key bonita_sca.tar ${{ secrets.AWS_SSH_USER }}@${AWS_PUBLIC_DNS_HOSTNAME}:~/bonita_sca.tar
          echo "Move bonita_sca.tar in ~/ and show:"
          ssh -o StrictHostKeyChecking=no -i private_key ${{ secrets.AWS_SSH_USER }}@${AWS_PUBLIC_DNS_HOSTNAME} '
              sudo chown -R ubuntu:ubuntu ~/bonita_sca.tar
              ls -latr ~/
          '
          
      - name: Transfer Docker Data - Step 3 - Move folder sca in ~/sca  
        run: |
          scp -o StrictHostKeyChecking=no -i private_key -r infrastructure/sca/ ${{ secrets.AWS_SSH_USER }}@${AWS_PUBLIC_DNS_HOSTNAME}:~/sca
          echo "Move folder sca in ~/sca and show:"
          ssh -o StrictHostKeyChecking=no -i private_key ${{ secrets.AWS_SSH_USER }}@${AWS_PUBLIC_DNS_HOSTNAME} '
              sudo chown -R ubuntu:ubuntu ~/sca
              ls -latr ~/sca
          '
          
      - name: Transfer Docker Data - Step 4 - Move .env in ~/sca 
        run: |
          scp -o StrictHostKeyChecking=no -i private_key infrastructure/sca/.env ${{ secrets.AWS_SSH_USER }}@${AWS_PUBLIC_DNS_HOSTNAME}:~/sca/.env
          echo "Move .env in ~/sca and show:"
          ssh -o StrictHostKeyChecking=no -i private_key ${{ secrets.AWS_SSH_USER }}@${AWS_PUBLIC_DNS_HOSTNAME} '
              sudo chown -R ubuntu:ubuntu ~/sca/.env
              ls -latr ~/sca
          '
          
      - name: Verify .env file on remote server
        if: always()
        run: |
          ssh -o StrictHostKeyChecking=no -i private_key ${{ secrets.AWS_SSH_USER }}@${AWS_PUBLIC_DNS_HOSTNAME} '
              echo "--- Verifying .env existence in ~/sca/ ---"
              if [ -f ~/sca/.env ]; then
                  echo "✅ The .env file exists."
                  echo "--- Contents of .env ---"
                  cat ~/sca/.env
              else
                  echo "❌ The .env file was NOT found."
              fi
              echo "--- Files in /home ---"
              ls -latr /home
              echo "--- Files in ~/sca ---"
              ls -latr ~/sca
              echo "--- Verifying docker-compose.yml existence in ~/sca/ ---"
              if [ -f ~/sca/docker-compose.yml ]; then
                  echo "✅ The docker-compose.yml file exists."
                  echo "--- Contents of docker-compose.yml ---"
                  cat ~/sca/docker-compose.yml
              else
                  echo "❌ The docker-compose.yml file was NOT found."
              fi
               echo "--- Verifying docker-compose.yml existence in ~/sca/sca/ ---"
              if [ -f ~/sca/sca/docker-compose.yml ]; then
                  echo "✅ The docker-compose.yml file exists."
                  echo "--- Contents of docker-compose.yml ---"
                  cat ~/sca/sca/docker-compose.yml
              else
                  echo "❌ The docker-compose.yml file was NOT found."
              fi
          '
