name: deployUibAws
on:
  workflow_call:
    inputs:
      bonita_dns_name:
        required: true
        type: string
        description: "target serveur, e.g. ec2-3-255-139-245.eu-west-1.compute.amazonaws.com"
      uib_folder:
        required: false
        type: string
        default: "app/web_applications"
        description: "folder containing UIB applications (JSON files)"
    secrets:
      AWS_PRIVATE_KEY:
        required: true
      AWS_KEY_ID:
        required: true
      AWS_ACCESS_KEY:
        required: true
      AWS_SECURITY_GROUP_ID:
        required: true
      AWS_SSH_USER:
        required: true
#NOTE: some time we get 502 Bad gateway errors
#workaround: replay faild job
jobs:
  deploy_UIB_AWS:
    runs-on: ubuntu-latest
    env:
      COOKIES:
      ZIP_TO_DEPLOY:
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: prepare UIB applications
        id: zip-applications
        run: |
          rm -rf ${UIB_FOLDER}
          mkdir -p ${UIB_FOLDER}
          ls -ltr "${PROJECT_FOLDER}/${{ inputs.uib_folder }}"
          find "${PROJECT_FOLDER}/${{ inputs.uib_folder }}" -type f -name "*.json" -exec zip "${UIB_FOLDER}/uib_applications.zip" -j {} +
          unzip -l "${UIB_FOLDER}/uib_applications.zip"
          ZIP_FILE="${UIB_FOLDER}/uib_applications.zip"
          echo "deploy zip applications: ${ZIP_FILE}"
          echo "ZIP_TO_DEPLOY=${ZIP_FILE}" >> $GITHUB_ENV
        env:
          PROJECT_FOLDER: "${{ github.workspace }}"
          UIB_FOLDER: "${{ github.workspace }}/temp_ui_builder"

      - name: set AWS_PUBLIC_DNS_HOSTNAME env variable
        id: set-env-variable
        run: |
          echo "AWS_PUBLIC_DNS_HOSTNAME=${{ inputs.bonita_dns_name }}" >> $GITHUB_ENV 


      - name: Setup SSH private key
        env:
          PRIVATE_KEY: ${{ secrets.AWS_PRIVATE_KEY }}
        run: |
          echo "$PRIVATE_KEY" > private_key && chmod 600 private_key

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_ACCESS_KEY }}
          aws-region: eu-west-1

      - uses: passeidireto/aws-add-ip-to-security-group-action@v1.0.0
        with:
          aws_security_group_ids: ${{ secrets.AWS_SECURITY_GROUP_ID }}
          port_range: '22'

      - name: Transfer UIB data
        run: |
          scp -o StrictHostKeyChecking=no -i private_key ${ZIP_FILE} ${{ secrets.AWS_SSH_USER }}@${AWS_PUBLIC_DNS_HOSTNAME}:~/uib_applications.zip
        env:
          ZIP_FILE: ${{ env.ZIP_TO_DEPLOY }}

      - name: Deploy UIB applications
        run: |
          ssh -o StrictHostKeyChecking=no -i private_key ${{ secrets.AWS_SSH_USER }}@${AWS_PUBLIC_DNS_HOSTNAME} << EOF
            curl -c "${UIB_FOLDER}/saved_cookies.txt" \
              --url http://localhost/bonita/loginservice \
              --header 'Content-Type: application/x-www-form-urlencoded' \
              --data-urlencode 'username=install' \
              --data-urlencode 'password=install' \
              --data-urlencode 'redirect=false' \
              --data-urlencode 'redirectURL='
              
            echo " *** connected *** "
            ls -ltr ${UIB_FOLDER}
              
            echo " *** clean all applications *** "
            curl -b "${UIB_FOLDER}/saved_cookies.txt" -X DELETE "http://localhost/uib/api/v1/applications/all" \
             --header 'x-requested-by: Appsmith' \
              
            echo " *** deploy all applications *** "
            curl -b "${UIB_FOLDER}/saved_cookies.txt" -X POST "http://localhost/uib/api/v1/applications/import-bulk" \
             --header 'x-requested-by: Appsmith' \
             --form "file=@${UIB_FOLDER}/uib_applications.zip"
          EOF
        env:
          UIB_FOLDER: "/home/${{ secrets.AWS_SSH_USER }}"
