name: listServer
on:
  workflow_call:
    secrets:
      AWS_KEY_ID:
        required: true
      AWS_ACCESS_KEY:
        required: true
      GHP_TOKEN:
        required: true
  workflow_dispatch:
jobs:
  list_server:
    runs-on: ubuntu-latest
    steps:
      - name: Create AWS config credential folder
        run: |
          mkdir -p /home/runner/.aws
          ls -ltr /home/runner/.aws

      - name: Create AWS config region file
        uses: 1arp/create-a-file-action@0.4.5
        with:
          path: '/home/runner/.aws'
          isAbsolutePath: true
          file: 'config'
          content: |
            [default]
            region = eu-west-1

      - name: Create AWS config credential file
        uses: 1arp/create-a-file-action@0.4.5
        with:
          path: '/home/runner/.aws'
          isAbsolutePath: true
          file: 'credentials'
          content: |
            [default]
            aws_access_key_id = ${{ secrets.AWS_KEY_ID }}
            aws_secret_access_key = ${{ secrets.AWS_ACCESS_KEY }}
            region = eu-west-1

      - name: List AWS servers
        env:
          GH_TOKEN: ${{ secrets.GHP_TOKEN }}
        run: |
          bonitaAwsVersion="1.8"
          keyName="presale-ci-eu-west-1"

          # get aws presales lib
          gh release download v${bonitaAwsVersion} \
            --repo laurentleseigneur/bonita-aws \
            --pattern "*-jar-with-dependencies.jar"
          # list servers
          java -jar bonita-aws-${bonitaAwsVersion}-jar-with-dependencies.jar \
          -c list \
          --key-name ${keyName}
