name: testUIB
on:
  workflow_dispatch:
  push:
    branches:
      - "fix/deploy_UIB"
env:
  ZIP_TO_DEPLOY:

jobs:
  fake_build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: prepare UIB applications
        id: zip-applications
        run: |
          rm -rf ${UIB_FOLDER}
          mkdir -p ${UIB_FOLDER}
          ls -ltr "${PROJECT_FOLDER}/uib"
          find "${PROJECT_FOLDER}/uib" -type f -name "*.json" -exec zip "${UIB_FOLDER}/uib_applications.zip" -j {} +
          unzip -l "${UIB_FOLDER}/uib_applications.zip"
          ZIP_FILE="${UIB_FOLDER}/uib_applications.zip"
          echo "deploy zip applications: ${ZIP_FILE}"
          echo "ZIP_TO_DEPLOY=${ZIP_FILE}" >> $GITHUB_ENV
        env:
          PROJECT_FOLDER: "${{ github.workspace }}"
          UIB_FOLDER: "${{ github.workspace }}/temp_ui_builder"

  deploy_UIB:
    needs:
      - fake_build
    uses: ./.github/workflows/reusable_deploy_uib.yml
    with:
      bonita_dns_name: 'ec2-3-255-139-245.eu-west-1.compute.amazonaws.com'
      zip_to_deploy: "${{ env.ZIP_TO_DEPLOY }}"
    secrets: inherit

