name: test_run_it
on:
  workflow_dispatch:

jobs:
  prerequisites:
    uses: ./.github/workflows/reusable_prerequisites.yml

  create_server:
    uses: ./.github/workflows/reusable_create_server.yml
    secrets: inherit

  build_sca:
    needs: [prerequisites, create_server]
    uses: ./.github/workflows/reusable_build_sca.yml
    secrets: inherit

  deploy_sca:
    needs: build_sca
    uses: ./.github/workflows/reusable_deploy_sca.yml
    secrets: inherit

  run_it:
    needs: deploy_sca
    uses: ./.github/workflows/reusable_run_it.yml
    secrets: inherit
