name: testUIB
on:
  workflow_dispatch:

jobs:
  deploy_UIB:
    uses: ./.github/workflows/reusable_deploy_uib.yml
    with:
      bonita_dns_name: 'ec2-3-255-139-245.eu-west-1.compute.amazonaws.com'
    secrets: inherit

