name: Test PR Merged

on:
  pull_request:
    types:
      - closed
  workflow_dispatch:

jobs:
  handle_pr_closed:
    uses: ./.github/workflows/reusable_pr_closed.yml
    with:
      repository_name: ${{ github.repository }}
      pr_number: ${{ github.event.pull_request.number }}
      pr_title: ${{ github.event.pull_request.title }}
      pr_merged: ${{ github.event.pull_request.merged }}
      pr_base_ref: ${{ github.event.pull_request.base.ref }}
      pr_head_ref: ${{ github.event.pull_request.head.ref }}
      pr_actor_login: ${{ github.event.pull_request.merged && github.event.pull_request.merged_by.login || github.event.pull_request.user.login }}
      pr_merge_commit_sha: ${{ github.event.pull_request.merge_commit_sha }}
    secrets: inherit
