name: test_deploy_UIB
on:
  workflow_dispatch:
    inputs:
      bonita_dns_name:
        description: 'Bonita server DNS name'
        required: true
        type: string

jobs:
  deploy_UIB:
    uses: ./.github/workflows/reusable_deploy_uib.yml
    with:
      bonita_dns_name: ${{ inputs.bonita_dns_name }}
    secrets: inherit

